body {
    font-family: 'Grandstander', cursive;
    display: flex;
    flex-direction: column;
    background-image: url('/images/kitchen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: x-large;
}

img[name="logoImage"] {
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 40px;
    border: gray solid;
    border-width: 1px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

h1 {
    margin: 0 auto;
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    justify-self: center;
    justify-items: center;
    background-color: whitesmoke;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin-top: 40px;
    padding: 40px;
    border: gray solid;
    border-width: 1px;
}

button[name="loginButton"] {
    align-items: center;
    background-color: #f5cc72;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    height: 30px;
}

button[name="guestLoginButton"] {
    align-items: center;
    background-color: #f5cc72;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    height: 30px;
    margin-top: 20px;
}

button[name="registerButton"] {
    align-items: center;
    background-color: #f5cc72;
    box-shadow: 
    12px 12px 16px 0 rgba(252, 205, 50, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    height: 30px;
}

input[name="username"] {
    background-color: whitesmoke;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 10px;
}

input[name="password"] {
    background-color: whitesmoke;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 10px;
}

.loginInBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    justify-self: center;
    justify-items: center;
    margin-top: 40px;
}

.guestloginInBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.registerAcctBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
#confirmRegisterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.registerBar2 {
    margin: 0 auto;
}