body {
    font-family: 'Grandstander', cursive;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#a9faa2, #f5e7c0);
    /* background-image: url('kitchen.jpg'); */
    /* size: 100%; */
}

h1 {
    margin: 0 auto;
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 20px;
}

.surprise {
    margin: 0 auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

button[name="signOutButton"] {
    align-items: center;
    background-color: #7df572;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    height: 30px;
}

#addRecipeBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 0 auto;
    /* padding: 20px; */
}

#miniRecipeBar {
    display: flex;
    justify-content: space-between;
    margin: 10px
}

#miniRecipeBar2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px
}

button[name="addRecipeButton"] {
    align-items: center;
    background-color: #7df572;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    height: 30px;
    margin-top: 20px;
}

form[name="form2"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
}

ul {
    margin-left: 15%;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#displayRecipesBar {
    display: flex;
}

button[name="editRecipeButton"] {
    align-items: center;
    background-color: #f5d98b;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    height: 30px;
    margin-top: 20px;
}

button[name="deleteRecipeButton"] {
    align-items: center;
    background-color: #f5d98b;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    height: 30px;
    margin-top: 20px;
}

button[name="recipeDetailsButton"] {
    align-items: center;
    background-color: #f5d98b;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin: 0 auto;
    height: 30px;
    margin-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em ;
}
.grid-card{
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recipe-txt{
    height:50px;
    padding: 10px;
    border:none;
    border-radius:  25px;
    outline: none;
}
.search-btn{
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border:none;
    color:#000;
    border-radius: 25px;
}
.form-box{
    justify-content: center;
}