<html>
    <head>

        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles2.css">

    </head>
    <body>

        <div id='APISearchContainer'>
        <img name="logoImage" src = "logo-green.png" width="200px" height="100px"/>
            <h3 name="search">Search by Ingredient: Chicken, Pasta, Mushrooms, etc.</h3>
            
                <div class='form-box'>    
                    <form method="POST" action='/apiMenu/recipe-search'>
                        <input placeholder="Ingredient" name="recipeSearch" class='recipe-txt'>
                        <button class ='search-btn'>Search</button>
                    </form>
                </div>
                <a href="/mypage">Return to Home</a>

                <div class="grid">
                    {{#recipes}}
                        <div class="grid-card">
                            <i><h3 class='APIRecipeTitle'>{{title}}</h3></i>
                            <img name="image" src="{{image}}" class='small-image'>
                            <a href="http://localhost:3000/apiMenu/{{id}}"><button class="APIrecipeDetailsButton">Recipe Details</button></a>
                        </div>
                    {{/recipes}}
                </div>
        </div>

    </body>
</html>