<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <img name="logoImage" src = "title.png" width="300px" height="200px" name='logo'/>

        <div class="loginContainer">

            <div id="confirmRegisterContainer">

                <h2>User Account was created successfully!</h2>
                <a href="/">Return to Login Page</a>
            </div>

        </div>

    </body>
</html>