<html>
<head>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id="confirmRegisterContainer">
<h1>User Account Created</h1>

<h2>User Account was created successfully!</h2>
<a href="/">Return to Login Page</a>
</div>
</body>
</html>