<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/styles2.css">
    </head>

    <body>
        <img name="logoImage" src = "/images/logo-green.png" width="200px" height="100px"/>

        <h3 name="search">Search by Course: Breakfast, Lunch, Dinner, Dessert, etc.</h3>

        <form method="POST" action="/mypage/filter-course"> 
        <div id="filter">  
            <div id="filterRecipeBar">
                <input type="text" placeholder="Course" name="course" />
                <button class="filterButton"name="filterButton">Search</button>
            </div>
            <div id="home">
                    <a href="/mypage">Return to Home</a>
            </div>
        </div>
        </form>
        

        <div class="filterContainer">
            <div class="grid2">
                    {{#postFilter}}
                            <div class="grid-card2">

                                <form name="form2" method="POST" action="/mypage/delete-recipe">
                                    <h4 name="recipeTitle"><i>{{title}}</i></h4>
                                        <div id="displayRecipesBar">
                                            <p><b>Cook time:</b> {{cook_time}}</p> - <b>Course Type:</b> {{course}}</p>
                                        </div>
                                            {{#picture}}
                                                <img name="image" src = "{{picture}}" width="300px" height="200px"/>
                                            {{/picture}}
                                            {{^picture}}
                                                <img src="/images/default.jpg" width="300px" height="200px"/>
                                            {{/picture}}
                                            <button name="deleteRecipeButton">Delete Recipe</button>         
                                    <input type="hidden" value="{{id}}" name="recipeId" />
                                </form>

                                <a href="/mypage/edit-recipe/{{id}}"><button name="editRecipeButton">Edit Recipe</button></a>
                                <a href="/mypage/recipe-detail/{{id}}"><button name="recipeDetailsButton">Recipe Details</button></a>
                                <input type="hidden" value="{{id}}" name="recipeId" />
                            </div>
                    {{/postFilter}}
            </div>
        </div>


    </body>

</html>

