<html>
<head>

</head>
<body>
    <h1>hello</h1>
</body>
<ul>
{{#recipes}}
<li>
<h3>{{title}}</h3>
<img src="{{image}}"></img>
<a href="http://localhost:3000/{{id}}">Detail</a>
</li>

{{/recipes}}
</ul>

</html>