<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1>Recipe Box Login Page</h1>
        
        <form method="POST" action="/login">
        <div class="loginInBar">
        Username: <input type="text" value="Guest" name="username" />
        Password: <input type="password" value="guest1" name="password" />
        <button name="loginButton">Login</button>
        </form>
        </div>
        To explore our site, please login as a Guest by clicking on the login button!
         <div class="registerAcct">
        <a href="/register">
        <button name="registerButton">Register for a Recipe Box Account</button></a>
        </div>
        
        <form method="POST" action="/guest-login">
        <div class="guestloginInBar">
            <button name="guestLoginButton">Login as a Guest</button>
        </div>



    </body>

</html>