<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1>Welcome to Your Recipe Box</h1>
        
        <form method="POST" action="/login">
            <div class="loginInBar">
                <b>Username: </b><input type="text" placeholder="Username" name="username" />
                <b>Password: </b><input type="password" placeholder="Password" name="password" />
                <button name="loginButton">Login</button>
            </div>
        </form>
        

        <form method="POST" action="/guest-login">
            <div class="guestloginInBar">
                <h3>To explore our site, please login as a Guest by clicking on the login button!</h3>
                <button name="guestLoginButton">Login as a Guest</button>
            </div>
        </form>
        <div class="registerAcctBar">
            <a href="/register">
            <button name="registerButton">Register for a Recipe Box Account</button></a>
        </div>
        

    </body>

</html>