<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles2.css">
    </head>

    <body>
        <h1>My Recipe Box</h1>

        <div class="dropdown">
        <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/add-recipe">Add a Recipe</a>
                <a href="/filter-course">Search for Recipes by Course</a>
                <a href="/">Search for Recipes by Ingredient</a>
                <a href="/sign-out">Sign Out</a>
             </div>
        </div>

        <ul>
        {{#recipes}}
            <li>
            <div class="grid2">
                <div class="grid-card2">
                    <form name="form2" method="POST" action="/delete-recipe">
                        <h4 name="recipeTitle"><i>{{title}}</i></h4>
                            <div id="displayRecipesBar">
                                <p><b>Cook time:</b> {{cook_time}}</p> - <b>Course Type: </b> {{course}}</p>
                            </div>
                                {{#picture}}
                                    <img name="image" src = "{{picture}}" width="300px" height="200px" class='small-image'/>
                                {{/picture}}
                                {{^picture}}
                                    <img src="/default.jpg" width="300px" height="200px" class='small-image'/>
                                {{/picture}}
                                <button class="deleteRecipeButton" name="deleteRecipeButton">Delete Recipe</button>         
                        <input type="hidden" value="{{id}}" name="recipeId" />
                    </form>
                    <a href="/edit-recipe/{{id}}"><button class="editRecipeButton" name="editRecipeButton">Edit Recipe</button></a>
                    <a href="/recipe-detail/{{id}}"><button class="recipeDetailsButton" name="recipeDetailsButton">Recipe Details</button></a>
                    <input type="hidden" value="{{id}}" name="recipeId" />
            </li>
                </div>
            </div>
        {{/recipes}}
        </ul>



    </body>

</html>