<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles2.css">
    </head>

    <body>
        <h1>My Recipe Box</h1>

        <div class="surprise">{{message2}}
            <form method="POST" action="/sign-out">
                <button name="signOutButton">Sign Out</button>
            </form>
        </div>
        <a href="/add-recipe">Add a Recipe</a>
        <a href="/filter-course">Search for Recipes by Course</a>



        <ul>
        {{#recipes}}

            <li>
            <form name="form2" method="POST" action="/delete-recipe">
                <div id="displayRecipesBar">
                    <p><b><i>{{title}}</i></b> - <b>Cook time:</b> {{cook_time}}</p> - <b>Course Type: {{course}}</b></p>
                    <img name="image" src = "{{picture}}" width="300px" height="200px"/>
                    <button name="deleteRecipeButton">Delete Recipe</button>
                </div>
                <input type="hidden" value="{{id}}" name="recipeId" />
            </form>
                <a href="/edit-recipe/{{id}}"><button name="editRecipeButton">Edit Recipe</button></a>
                <a href="/recipe-detail/{{id}}"><button name="recipeDetailsButton">Recipe Details</button></a>
                <input type="hidden" value="{{id}}" name="recipeId" />
            <hr>
            </li>
        {{/recipes}}
        </ul>


    </body>

</html>