<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1>My Recipe Box</h1>

        <form method="POST" action="/add-recipe">
            <div id="addRecipeBar">
                <div id="miniRecipeBar">
                        <input type="text" placeholder="Title" name="title" />
                        <input type="text" placeholder="Cook Time" name="cook_time" />
                        <input type="text" placeholder="Course" name="course" />
                        <input type="text" placeholder="Recipe URL" name="url" />
                        <input type="text" placeholder="Recipe Photo" name="picture" />
                    </div>
                    <div id="miniRecipeBar2">
                        <textarea type="text" placeholder="Ingredients" name="ingredients" rows="10" cols="40"></textarea>
                        <textarea type="text" placeholder="Directions" name="directions" rows="10" cols="80"></textarea>
                        <textarea type="text" placeholder="Notes" name="notes" rows="10" cols="20"></textarea>
                        <button name="addRecipeButton">Add Recipe to My Recipe Box</button>
                    </div>
                </form>
                <a href="/filter">Search Recipe by Course</a> 
            </div>

        <ul>
        {{#recipes}}

            <li>
            <form method="POST" action="/delete-recipe">
                <div id="displayRecipesBar">
                    <p><b><i>{{title}}</i></b> - <b>Cook time:</b> {{cook_time}}</p> - <b>Course Type: {{course}}</b></p>
                    <button name="deleteRecipeButton">Delete Recipe</button>
                </div>
                <input type="hidden" value="{{id}}" name="recipeId" />
            </form>
                <a href="/edit-recipe/{{id}}"><button name="editRecipeButton">Edit Recipe</button></a>
                <input type="hidden" value="{{id}}" name="recipeId" />
            <hr>
            </li>
        {{/recipes}}
        </ul>


    </body>

</html>