<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles2.css">
    </head>


    <body>

            <h1>{{title}}</h1>
            <img src={{picture}} width="500px" height="400px">
            <p>Cook Time: {{cook_time}}</p>
            <p>Course: {{course}}</p>
            {{url}}
            <p>{{ingredients}}</p>
            <p>{{directions}}</p>
            <p>{{notes}}</p>

<a href="/mypage">Return to Home</a>

    </body>

</html>