<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles2.css">
    </head>


    <body>

        <div id="RecipeDetailsBox">
            <div id="detailRecipeBar">
                {{#recipe}}
                <h1>{{title}}</h1>
                    {{#picture}}
                        <img name="image" src = "{{picture}}" width="50%" height="60%"/>
                    {{/picture}}
                    {{^picture}}
                        <img src="/default.jpg" width="50%" height="60%"/>
                    {{/picture}}
                    <div id="miniDetailRecipeBar">
                        <p>Cook Time: {{cook_time}}</p> - <p>Course: {{course}}</p> - <p>Recipe URL: {{url}}</p>
                    </div>
                <label><b>Ingredients</b></label>
                <ul>
                {{#ingredients}}
                <li>
                {{ingredient}}
                </li>
                {{/ingredients}}
                </ul>
                
                <label><b>Instructions</b></label>
                <p>{{directions}}</p>
                <p>{{notes}}</p>
                <a href="/mypage">Return to Home</a>
                {{/recipe}}
            </div>
        </div>


    </body>

</html>