<h1>Detail<h1><html>
<head>
<link rel="stylesheet" href="/styles2.css">

</head>
<body>
    <h1>{{title}}</h1>
    <img src={{image}}>
    <p>Cook Time: {{cooktime}}</p>
    <p>Course: {{course}}</p>
    <p>{{ingredient}}</p>
    <p>{{instruction}}</p>
    <p>{{notes}}</p>

</body>

</html>