<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles2.css">

</head>
    <body>
        <div id="RecipeDetailsBox">

            <div id="detailRecipeBar">
                {{#recipe}}
                    <div id="recipe-display">
                        <h1>{{title}}</h1>
                        <img src={{image}} class="recipe-image">
                        <p>Cook Time: {{cooktime}} Minutes</p>
                        <p>Course: {{course}}</p>
                        <label><b>Ingredients</b></label>
                        <ul>
                        {{#ingredientDetails}}
                        <li>{{ingredientDetail}}</li>
                        {{/ingredientDetails}}
                        </ul>
                        <label><b>Instruction</b></label>
                        <p>{{instruction}}</p>
                    </div>
                    <div>
                        <form method="POST" action="/mypage/add-recipe" id="hidden-input">
                        <input type='hidden' value='{{title}}' name="title"></input>
                        <input type='hidden' value='{{image}}' name="picture"></input> 
                        <input type='hidden' value='{{cooktime}} Minutes' name="cook_time"></input> 
                        <input type='hidden' value='{{course}}' name='course'></input> 
                        <input type='hidden' value='{{ingredient}}' name="ingredients"></input> 
                        <input type='hidden' value='{{instruction}}' name="directions"></input> 
                        <input type="hidden" placeholder="Recipe URL" name="url" value='' />
                        <textarea type="text" placeholder="Notes" name="notes" rows="10" cols="60" style="background-color:white"></textarea>
                        <button name="addRecipeButton">Add Recipe to My Recipe Box</button>
                        </form>
                    </div>
                    <a href="/mypage">Return to Home</a>
                {{/recipe}}
            </div>

        </div>

    </body>

</html>