<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>

        <h1>Register for a Recipe Box App Login</h1>
        {{message}}

        <form method="POST" action="/register">
            <div class="registerBar">
                <input type="text" placeholder="Username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <button name="registerButton">Register</button>
            </div>
        </form>
        <div class="registerBar2">
                <a href="/login">Return to Login</a>
        </div>

    </body>

</html>