<html>
    <head>
        <link rel="stylesheet" href="/CSS/styles2.css">
    </head>

    <body>

        <h1>Register for a Recipe Box App Login</h1>
        

        <form method="POST" action="/register">
            <div class="registerBar">
                <input type="text" placeholder="Username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <button name="registerButton">Register</button>
            </div>
        </form>
        
        <div class="registerBar2">
                <h3><b>{{message}}</b></h3>
                <a href="/">Return to Login</a>
        </div>

    </body>

</html>